<!-- top navigation -->
<app-loader></app-loader>
<app-on-top-nav></app-on-top-nav>
<div class="col-md-3 left_col menu_fixed w500">
  <!-- left_col scroll-view -->
  <div class="left_col scroll-view col-md-12 col-sm-12 col-xs-12">
    <div class="navbar nav_title" style="border: 0;">
      <a [routerLink]="['/journey/kpijourney']" class="site_title"
        ><img src="{{ imageUrl }}onboarding/step1/left-logo.png"/> <span></span
      ></a>
    </div>
    <div class="clearfix"></div>
    <div class="row customised_outer h80">
      <div class="col-md-12 col-sm-12 col-xs-12 customised_inner f500">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 class="white"><b>Step 3: Create and assign milestones</b></h1>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="blue">
              <b
                >Assign high-level tasks necessary to move those rocks to team
                members</b
              >
            </h4>
          </div>
        </div>
        <!-- <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="white"><b>Your answers from Step 2 are what we call Milestones. Milestones are important, high-level objectives that must be met along the way to creating your outcome. In this step, you will drag and drop your answers into one of the 12 quarter boxes to the left</b></h4>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
  <!--/left_col scroll-view -->
</div>

<!-- page content -->
<div class="right_col ml500" role="main">
  <!-- Class -->
  <div class="clearfix"></div>

  <div class="row outer_div">
    <table
      id="grey_datatable-responsive"
      class="table table-striped table-bordered dt-responsive nowrap ctable"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th>Driver</th>
          <th>Milestones</th>
          <th>Assigned User</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf='kpiData'>
        <tr *ngFor="let element of kpiData">
          <td>
            <img
              src="{{ element.driverImage }}"
              style="height: 40px;"
              class="iconImg"
            />
          </td>
          <td>{{ element.objective }}</td>
          <td>{{ element.assignName }}</td>
          <td>{{ element?.startDate?.split('T')[0] }}</td>
          <td>{{ element?.dueDate?.split('T')[0] }}</td>
          <td>
            <button
              type="button"
              *ngIf="
                element.driverID !== 'f27f4b24-33b4-4b5e-a41c-16e0537d029a'
              "
              class="btn btn-xs btn-default command-edit mr5"
              (click)="assign(element)"
            >
              <span class="glyphicon glyphicon-user"></span>
            </button>
            <label
              *ngIf="
                element.driverID === 'f27f4b24-33b4-4b5e-a41c-16e0537d029a'
              "
              >NA</label
            >
            <button
              type="button"
              id="openModalButton4"
              style="display: none"
              class="btn btn-xs btn-default command-edit mr5"
              data-toggle="modal"
              data-target="#invite_user_modal4"
            ></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <br />
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 webkit_right">
      <button
        type="submit"
        class="btn btn-primary b_blue f18 bw100 mr0px"
        (click)="home()"
        routerLinkActive="router-link-active"
      >
        <b>Next</b>
      </button>
    </div>
  </div>
  <!--/Class -->
</div>
<!-- /page content -->

<!-- invite user modal -->
<!-- Modal -->
<div
  class="modal fade"
  id="invite_user_modal4"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel4"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          <div class="col-md-12 col-sm-12 col-xs-12 text_center">
            Delegate
          </div>
          <!-- <div class="col-md-12 col-sm-12 col-xs-12 text_center">
                      Total Qty = {{totalQty}}
                  </div> -->
        </h4>
      </div>
      <!-- Modal Body -->
      <div class="modal-body table-responsive">
        <table
          id="grey_datatable-responsive"
          class="table table-striped table-bordered dt-responsive nowrap"
          cellspacing="0"
          width="100%"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Role</th>
              <th>Due Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of users">
              <td>{{ element.name }}</td>
              <td>{{ element.email }}</td>
              <td>{{ element.role }}</td>
              <td>
                <label class="mt0">{{ dueDate }}</label>
              </td>
              <td>
                <mat-radio-button value="element.uID" (click)="select(element)">Assign</mat-radio-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 webkit_right">
            <div class="">
              <button type="submit" data-dismiss="modal" class="btn btn-primary b_blue f18 bw100 mr0px" (click)="save()" *ngIf='users?.length>0'><b>Assign</b></button>
              <button type="submit" data-dismiss="modal" class="btn btn-primary b_blue f18 bw100 mr0px" (click)="save()" *ngIf='users?.length==0' disabled><b>Assign</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /invite user modal -->
