<div class="step1">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlex=100>
            <div fxFlex="30" class="flex70" style="background-color: #1f2532;height: -webkit-fill-available;">
                <div fxFlex style="padding: 37px 0px 0px 11px;overflow: hidden;">

                        <img src="../../../../assets/images/onboarding/step1/left-logo.png">
                </div>
                <div fxFlex style="overflow: hidden;" fxLayout="column" fxLayoutAlign="center">
                        <mat-card class="card">
                                <img mat-card-image src="../../../../assets/images/onboarding/step1/left-center.png" alt="Photo of a Shiba Inu">
                              </mat-card>
                </div>
            </div>
            <div fxFlex="70" style="display: unset;">
                <div fxFlex class="welcome">
                        <mat-card class="card">
                                <mat-card-content class="heading">
                                        Now that you've completed your integrated strategic plan, you can log back in at any time to adjust the plan.
                                </mat-card-content>
                              </mat-card>

                </div>
                <div fxFlex  class="content">
                        <mat-card class="card">
                                <mat-card-content class="heading">
                                        The next step is to create KPIs for your company based on your strategic plan.
                                </mat-card-content>
                              </mat-card>

                </div>
                <div fxFlex  class="content">
                        <mat-card class="card" (click)="journeyQA()" >
                                <img mat-card-image src="../../../../assets/images/onboarding/quarter12/dash/first.png" alt="Photo of a Shiba Inu">
                              </mat-card>
                </div>
                <div fxFlex  class="content">
                        <mat-card class="card" (click)="journey()">
                                <img mat-card-image src="../../../../assets/images/onboarding/quarter12/dash/second.png">
                              </mat-card>

                </div>

                </div>

        </div>
        </div>
