.foo {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
  }
  .main-container1{
    position: absolute;
   // top: 64px;
   // left: 270px;
     width: 100%;
  }

  .main-container2{
    position: absolute;
    top: 64px;
   left: 270px;
     width: 73%;
  }
