<div class="modal-header">  
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
    <h4 class="modal-title" id="myModalLabel">
      <div class="col-md-12 col-sm-12 col-xs-12 text_center">
          <!-- <img src="{{ driverImg }}"/> -->
      </div>
    </h4>
  </div>  
  <div class="modal-body">
    <br>
    <div class='padding-bottom'>
      <span class=''>Name</span>
      <input id='edit_KpiObjective' name='kpiObjective' type="text" class="form-control" placeholder="Example: Working out" name='kpiObjective' [(ngModel)]='kpiObjectiveEdit'> 
    </div>
    <div class='padding-bottom'>
      <span class="">Time</span>
      <input id='edit_KpiTarget' name="qty" class="form-control" placeholder="Example: $50000" name='kpiTarget' [(ngModel)]='kpiQuantityEdit'>  
    </div>
    <div class='padding-bottom'>
      <span class="">Frequency</span>
      <input id='edit_KpiActual' name="qty" class="form-control" placeholder="Example: $50000" name='kpiActual' [(ngModel)]='kpiAchievedQuantityEdit'>  
    </div>
    <div>
      <span class="">Participants</span>
      <input id='edit_KpiUnit' type="text" name="unit" class="form-control" placeholder="Example: dollar" name='kpiUnit' [(ngModel)]='kpiUnitEdit'>  
    </div>
    <p *ngIf="userRole==='admin' && driverName != 'You'" style='text-align:left;'>Corporate KPI<a style='padding-left:10px;'><i class='fas fa-info-circle' style='color:#666666' mat-raised-button matTooltip="Corporate KPIs can be seen from the dashboard of all employees in an organization." matTooltipClass='toolTip' aria-label="Button that displays a tooltip when focused or hovered over"></i></a></p>
    <div *ngIf="userRole==='admin' && driverName != 'You'" class='row' [ngClass]="kpiEditIsCorporate?'isCorporate':'isNotCorporate'" style='border-style:solid;border-width:2px;height:30px;width:30%;margin-left:10px;margin-bottom:10px;margin-top:5px;' (click)='setKpiCorporateEdit();'>
      <div *ngIf='kpiEditIsCorporate' style='height:100%;'>
        <div class='col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-8' style='vertical-align:middle;padding-top:2px;color:#337ab7'>
          Yes
        </div>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-4' style='background-color:#337ab7;height:100%;'>
        </div>  
      </div>
      <div *ngIf='!kpiEditIsCorporate' style='height:100%;'>
        <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 col-lg-4' style='background-color:#666666;height:100%;'>
        </div>  
        <div class='col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-8' style='vertical-align:middle;padding-top:2px;color:#666666;text-align:right;'>
          No
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="">
              <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)='updateMeetingData();'><b>Save</b></button>
              <!-- <button type="submit" data-dismiss="modal" class="btn btn-danger" style='margin-left:0px !important;' (click)='modalRef.hide();showModal(deleteKpiTemplate,"modal-sm");'><b>Delete</b></button> -->
          </div>
      </div>
    </div>  
  </div> 

  <ng-template #deleteKpiTemplate></ng-template>