.example-card {
  max-width: 100vh;
  width: 150px;
    height: 150px;
}

.txtalign{
  text-align: center;
  margin-top: 16px;
}
// body{
//   background-image: url("/assets/images/background.png") !important;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
//   height: 100vh;
// }
