.step1 {
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  overflow-y: auto;
  .centerImg {
    width: 100%;
    height: auto;
    padding: 95px 0px 0px 29px;
  }
  .card {
    max-width: 100%;
    transition: none !important;
    box-shadow: none !important;
    background: transparent;
  }
  .cardResponse {
    width: 165px;
    margin-left: 21%;
    transition: none !important;
    box-shadow: none !important;
    background: transparent;
  }
  .welcome {
    position: relative;
    top: 20%;

    .card {
      max-width: 550px;
      margin-right: 10px !important;
      transition: none !important;
      box-shadow: none !important;
      background: transparent;
      .heading {
        font-size: 36px !important;
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2b2b2b;
      }
      .headingResponse {
        font-size: 24px !important;
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2b2b2b;
      }
    }
  }
  .content {
    position: relative;
    overflow: hidden;
    top: 24%;
    font-family: Roboto;

    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2b2b2b;
    .card {
      cursor: pointer;
      max-width: 550px;
      margin-right: 10px !important;
      transition: none !important;
      box-shadow: none !important;
      background: transparent;
      .heading {
        font-size: 18px !important;
        font-family: Roboto;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #2b2b2b;
      }
    }
  }
  .plankpi {
    width: 550px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
}

img:hover {
  cursor: pointer;
}
