<app-loader></app-loader>
<app-topbar></app-topbar>
<app-leftsidebar></app-leftsidebar>

<div class="right_col ml230" role="main">

    <!-- Class -->
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" *ngIf="addNew">

              <button type="submit"  class="btn btn-success" id="next"
              (click)="addNewData()" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Add New</button>
              <div>
                  <h2>{{msg}}</h2>

                </div>

          </div>
            <div class="x_panel" *ngIf="!updateFlag && !addNew">

                <div class="x_title">
                  <h2>Add Organization</h2>
                  <div class="clearfix"></div>
                </div>

                <div class="x_content">
                  <br />

                  <form id="demo-form2"  class="">

                    <div class="form-group">
                      <div class="row-centered">
                        <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                          <label for="patient_name" class="control-label">Enter the Organization Name</label>
                          <!-- <input formControlName="orgtext"> -->

                          <textarea class="form-control" [(ngModel)]="orgtext" required name="SignSymptom" id="SignSymptom" rows="4" cols="50" style="height:40px;" wrap="hard"></textarea>


                        </div>
                      </div>
                    </div>
                    <div class="form-group" >
                      <div class="row-centered">
                        <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                          <label for="patient_name" class="control-label">Enter Email ID</label>
                          <input class="form-control" [(ngModel)]="email" name="email" id="seqNo" rows="4" cols="50" style="height:40px;"  wrap="hard"/>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="row-centered">
                          <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                            <label for="patient_name23" class="control-label">Create Password</label>
                            <input class="form-control" *ngIf="!passFlag" type="password"  [(ngModel)]="passtxt" name="SignSymptom" id="SignSymptom" rows="4" cols="50" style="height:40px;" wrap="hard"/>
                            <input class="form-control" type="text" *ngIf="passFlag" [(ngModel)]="passtxt" name="SignSymptom" id="SignSymptom" rows="4" cols="50" style="height:40px;" wrap="hard"/>
                            <button type="submit" form="demo-form2" class="btn btn-success" id="next"
                        (click)="toggle()" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">{{text}}</button>
                          </div>
                        </div>
                      </div> -->

                    <div class="form-group" >
                      <div class="row-centered">
                        <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                            <label for="patient_name" class="control-label">Activation Start Date</label>
                          <mat-form-field>
                            <input matInput [matDatepicker]="picker" (dateChange)="addEvent('change', $event)" [min]="minDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" >
                        <div class="row-centered">
                          <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                              <label for="patient_name" class="control-label">Activation End Date</label>
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker1" (dateChange)="addEvent1('change', $event)" [min]="endDateStart">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                      <div class="col-md-12 col-sm-6 col-xs-12" style="text-align:center;">
                        <button type="reset" class="btn btn-primary">Reset</button>
                        <input name="method" id="method" type="hidden" value="">
                        <input name="submit_Update" type="hidden">
                        <button type="submit" form="demo-form2" class="btn btn-success" id="next"
                        (click)="submit()" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Submit</button>
                      </div>
                    </div>

                  </form>

                </div>

              </div>
              <div class="x_panel" *ngIf="updateFlag">

                  <div class="x_title">
                    <h2>Update Organization</h2>
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <br />

                    <form id="demo-form2" action="" method="post" class="">

                      <div class="form-group">
                        <div class="row-centered">
                          <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                            <label for="patient_name" class="control-label">Update the Organization Name</label>
                            <textarea class="form-control" [(ngModel)]="updateOrg.orgName" name="SignSymptom" id="SignSymptom" rows="4" cols="50" style="height:40px;" wrap="hard"></textarea>
                          </div>
                        </div>
                      </div>


                      <div class="form-group" >
                        <div class="row-centered">
                          <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                              <label for="patient_name21" class="control-label">Activation Start Date</label>
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker3" name="updItem112"  [(ngModel)]="startDate1" (dateChange)="addEvent('change', $event)" [min]="minDate1" disabled>
                              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                              <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" >
                          <div class="row-centered">
                            <div class="col-md-8 col-sm-6 col-xs-12 col-centered">
                                <label for="patient_name22" class="control-label">Activation End Date</label>
                              <mat-form-field>
                                <input matInput [matDatepicker]="picker4" name="updItem11" [(ngModel)]="endDate1"  (dateChange)="addEvent1('change', $event)" [min]="minEndDate1">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      <div class="ln_solid"></div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-6 col-xs-12" style="text-align:center;">
                          <button type="reset" (click)="cancelU()" class="btn btn-primary">Cancel</button>
                          <input name="method" id="method" type="hidden" value="">
                          <input name="submit_Update" type="hidden">
                          <button type="submit" form="demo-form2" class="btn btn-success" id="next"
                          (click)="submitU()" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Update</button>
                        </div>
                      </div>

                    </form>

                  </div>

                </div>
          <!-- listing_section-->
          <div class="x_panel" *ngIf="showlist">
            <div class="x_content">
              <div class="table-responsive">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                  <thead>
                    <tr class="myHead">
                        <th data-column-id="seq">Sr. No</th>
                      <th data-column-id="patient_mobile_no">Org Name</th>
                      <th data-column-id="doctor_namedf">Email</th>
                      <th data-column-id="doctor_name">Start Date</th>
                      <th data-column-id="doctor_name">End Date</th>
                      <th data-column-id="doctor_name">Active</th>
                      <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-header-css-class="cbg-header-name" style="width:11%;">Commands</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of orgs; let i=index">
                      <td>{{i+1}} </td>
                      <td> {{item.orgName}}</td>
                      <td> {{item.email === '255' ? '' : item.email}}</td>
                      <td>{{item.startDate}}</td>
                      <td>{{item.endDate}}</td>
                      <td>{{item.isActive}}</td>
                      <td>
                        <!-- <button type="button" class="btn btn-xs btn-default command-view"onclick=""><span class="glyphicon glyphicon-eye-open"></span></button> -->
                        <button type="button" class="btn btn-xs btn-default command-edit"  onclick=""><span class="glyphicon glyphicon-edit" (click)="editO(item)"></span></button>

                        <button *ngIf="item.orgName !== 'CATIPULT232'" type="button" class="btn btn-xs btn-default command-print" onclick=""><span class="glyphicon glyphicon-trash" (click)="deleteo(item)" ></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--/listing_section-->

        </div>
      </div>
    </div>
    <!--/Class -->

  </div>

  <button type="button" id="openModalButton" style="display: none"  class="btn btn-xs btn-default command-edit mr5"  data-toggle="modal" data-target="#invite_user_modal"></button>
  <!-- invite user modal -->
<!-- Modal -->
<div class="modal fade" id="invite_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close"
                  data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
              </button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="panel panel-default">
                    {{info}}
                    </div>
                    </div>
                    </div>

          </div>
          <!-- Modal Footer -->
          <div class="modal-footer">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12 float_r p0">
                  <div class="col-md-4 col-sm-12 col-xs-12">
                      <button type="submit"  data-dismiss="modal"
                       class="btn btn-primary b_blue f18 w100"><b>Ok</b></button>
                  </div>



              </div>
          </div>
          </div>
      </div>
  </div>
</div>
<!-- /invite user modal -->
