 <!-- page content -->
 <div class="right_col unset_margin_left" role="main">

  <!-- Class -->
  <div class="">
      <div class="clearfix"></div>
      <div class="row row-centered">
          <div class="col-md-8 col-sm-12 col-xs-12 col-centered center_block">
              <form action="index.php">
              <div class="x_panel p0">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 p0 back_image">
                      <img src="https://s3.amazonaws.com/catipult.ai.assets/images/forget.png" alt="..." class="img-responsive">
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                      <img src="https://s3.amazonaws.com/catipult.ai.assets/images/social-media-caution.png" alt="..." class="img-responsive" style="display:none;">
                      <div class="x_content">
                          <br />
                          <form class="form-horizontal form-label-left input_mask" [formGroup]="userDetailsForm" (ngSubmit)="cPass(userDetailsForm.value)">
                            <div class="form-group center_flex" style='margin-bottom:0px !important;'>
                                <div class="" style='margin-bottom:0px !important;'>
                                  <img src="https://s3.amazonaws.com/catipult.ai.assets/images/logo.png" alt="..." class="img-responsive"/>
                                </div>
                              </div>
                              <div class="form-group">
                                  <!-- <label class="control-label col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 text_center">simple management software so you can live a better life</label> -->
                                  <label class="control-label col-lg-10 col-md-10 col-sm-12 col-xs-12" style='width:100% !important;padding-right:15px !important;text-align:center !important; margin-top:0px !important;padding-top:0px !important;'>simple management software so you can live a better life</label>
                                </div>
                              <br>
                              <div class="form-group">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="text"formControlName="email" [(ngModel)]="email" [readOnly]="true" placeholder="Enter Your Email">
                                      <span class="fas fa-envelope form-control-feedback right" aria-hidden="true"></span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="password"formControlName="password" [(ngModel)]="password" placeholder="New Password">
                                      <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <input class="date-picker form-control col-md-7 col-xs-12" required="required" type="password"formControlName="cpassword" [(ngModel)]="cpassword" placeholder="Confirm Password">
                                      <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
                                  </div>
                              </div>
                              <!-- <br><br> -->
                              <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="button" (click)="cPass(userDetailsForm)" class="btn btn-primary w100 login_btn">Update Password</button>
                                    <button type="button" id="openModalButton" style="display: none"  class="btn btn-xs btn-default command-edit mr5"  data-toggle="modal" data-target="#invite_user_modal"></button>
                                  </div>
                              </div>
                              <!-- <div class="form-group">
                                  <label class="control-label col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 text_center">Already have an account ? <span class="orange" [routerLink]="['/login']">Login</span></label>
                              </div> -->
                          </form>
                      </div>
                  </div>
              </div>
              </form>
          </div>
      </div>
  </div>
  <!--/Class -->

</div>
<!-- /page content -->


<!-- invite user modal -->
<!-- Modal -->
<div class="modal fade" id="invite_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                    data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <div class="col-md-12 col-sm-12 col-xs-12 text_center">
          Info
                    </div>
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- <form role="form"> -->
                    <form id="demo-form2"   method="post">

                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                             New Password Updated                      </div>
                      </div>
                        <br>



                        <!-- <div class="">
                            <div class="col-md-4 col-sm-12 col-xs-12 float_r p0">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary b_blue f18 w100"><b>Submit</b></button>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary b_white c_blue f18 w100 br25"><b>Skip</b></button>
                                </div>
                            </div>
                        </div>   -->
                    </form>
                <!-- </form> -->
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12 float_r p0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <button type="submit"  data-dismiss="modal"
                         class="btn btn-primary b_blue f18 w100"><b>Ok</b></button>
                    </div>



                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <!-- /invite user modal -->
