<div class="{{leftStyle}}">



        <div fxLayout="row" fxLayout.lt-md="column" fxFlex=100>
            <div fxFlex="30" style="background-color: #1f2532;height: -webkit-fill-available;">
                <div fxFlex class="headerFix" [routerLink]="['/kpijourney']">

                        <img src="../../../../assets/images/onboarding/step1/left-logo.png" class="imgclass">
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="center">
                        <mat-card class="cardleft">
                               <mat-card-header class="header" style="margin-left: -30px;">Michael Douglas  You've chose to  jump straight to
                                        creating your KPIs.</mat-card-header>
                               <mat-card-content class="content">
                                    Jump straight to creating your KPIs.
                               </mat-card-content>
                            <mat-card-footer class="footer">
                                    Please watch this quick, 2-minute video on the Seven Business Drivers and how you'll be creating Key Performance Indicators for your company.
                            </mat-card-footer>
                              </mat-card>
                </div>
            </div>
            <div fxFlex="70" class="flex70">

                <div fxFlex fxLayout="column" style="margin: 10% 10% 1% 10%">
                  <div fxFlex fxLayout="row">
                    <span class="blinktext">
                        I already have my Objectives ready. Please take me there directly
                      </span>

                        <h1 class="wiggle">
                            <button class="button button" [routerLink]="['/journey/step2']"><b>Jump</b></button>                    </h1>

                </div>
                <div fxFlex fxLayout="row">
                    <vg-player>
                        <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                            <source src="../../../../assets/Videos/videogular.mp4" type="video/mp4">
                        </video>
                    </vg-player>
                </div>

                </div>

                <div fxFlex  style="margin: 2%" >
                        <mat-card class="card" fxFlex fxLayoutAlign="end">
                                <button mat-raised-button class="btn" [routerLink]="['/journey/kpijourney_step3']">
                                        Next
                                </button>
                                <!-- <div >
                                        <span style="vertical-align: -webkit-baseline-middle">Next</span></div> -->
                              </mat-card>

                </div>

                </div>

        </div>
        </div>
