<div class="meeting-header">
  <div class="left-div">
    <h4>Meeting Preview</h4>
  </div>
  <div class="right-div">
    <div class="button-wrapper">
      <button
        class="btn btn-primary"
        (click)="launchMeeting(meetingData.meetingId)"
        *ngIf="userRole === 'Host'"
      >
        <img src="assets/images/meeting/btn-arrow-icon.svg" />Launch Meeting
      </button>
      <!-- <button class="btn btn-rounded">More Action</button> -->
      <div class="dropdown">
        <button
          class="btn btn-rounded dropdown-toggle"
          type="button"
          data-toggle="dropdown"
        >
          More Action
          <svg
            width="10"
            height="6"
            viewBox="0 0 10 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.292893 5.70711C0.683417 6.09763 1.31658 6.09763 1.70711 5.70711L5 2.41421L8.29289 5.70711C8.68342 6.09763 9.31658 6.09763 9.70711 5.70711C10.0976 5.31658 10.0976 4.68342 9.70711 4.29289L5.70711 0.292893C5.31658 -0.0976315 4.68342 -0.0976315 4.29289 0.292893L0.292893 4.29289C-0.0976311 4.68342 -0.0976311 5.31658 0.292893 5.70711Z"
              fill="#0C6BAF"
            />
          </svg>
        </button>
        <ul class="dropdown-menu">
          <li (click)="manageMeeting('edit')"><a>Edit Meeting</a></li>
          <li (click)="manageMeeting('delete')"><a class="red">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr class="mt-1 mb-1" />
<div class="meeting--title-header">
  <div class="left-div">
    <h2 *ngIf="meetingData">{{ meetingData.meetingName }}</h2>
    <p
      *ngIf="
        meetingData &&
        meetingData.meetingFrequency === 'Weekly' &&
        meetingData.meetingInterval
      "
    >
      <img src="assets/images/meeting/calendar.svg" />{{
        meetingData.meetingFrequency
      }}
      - Every {{ dayOfTheWeek[meetingData.meetingInterval - 1].dayOfWeek }}
      {{ meetingData.meetingDate | date: "shortTime" }}
    </p>
    <p
      *ngIf="
        meetingData &&
        meetingData.meetingFrequency === 'Monthly' &&
        meetingData.meetingInterval
      "
    >
      <img src="assets/images/meeting/calendar.svg" />{{
        meetingData.meetingFrequency
      }}
      Every {{ dayOfTheMonth[meetingData.meetingInterval - 1].display }} of the
      Month
      {{ meetingData.meetingDate | date: "shortTime" }}
    </p>
  </div>
</div>
<hr class="mt-1 mb-0" />
<div class="meeting-main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="attendee-content mt-1">
        <h3>
          Attendee List
        </h3>
        <div class="attendee-list" *ngIf="meetingData">
          <ul>
            <li *ngFor="let a of meetingData.meetingUsers; let i = index">
              <div class="agenda-info">
                <div class="attendee-img"></div>
                <div class="attendee-name">
                  <a
                    class="agenda-item"
                    [ngStyle]="{
                      color: a.selected == true ? 'red' : '#73879C',
                      cursor:
                        meetingData?.displayIssues ||
                        meetingData?.displayMilestones
                          ? 'pointer'
                          : 'auto'
                    }"
                    (click)="setSelectedUser(a)"
                    >{{ a.User.name }} {{ a.User.lname }}</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <hr class="mt-0 mb-0 mr--10 ml--10" />
      <div class="agenda-content mt-1">
        <h3>Agenda</h3>
        <div class="agenda-list" *ngIf="meetingData && meetingData.timerData">
          <ul>
            <li *ngFor="let t of meetingData.timerData; let i = index">
              <div class="agenda-info">
                <div class="agenda-img"></div>
                <div class="agenda-name">
                  <p>
                    <a class="agenda-item">{{ t.name }} </a>
                  </p>
                  <p>
                    <a class="agenda-time" *ngIf="t.duration >= 1"
                      >{{ t.duration }}m</a
                    >
                  </p>
                  <p>
                    <a class="agenda-time" *ngIf="t.duration < 1"
                      >{{ t.duration * 60 }}s</a
                    >
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="meeting-tab">
        <ul class="nav">
          <li class="nav-item" (click)="getKpiData(previewMeetingId)">
            <a [ngClass]="{ active: meetingData && meetingData.displayKPI }"
              >KPI</a
            >
          </li>
          <li class="nav-item" (click)="getMilestoneData(previewMeetingId)">
            <!-- *ngIf="!meetingData?.displayMilestones" -->
            <a
              [ngClass]="{
                active: meetingData && meetingData.displayMilestones
              }"
              >Rocks / Milestone</a
            >
          </li>
          <li class="nav-item" (click)="getIssueData(previewMeetingId)">
            <!-- *ngIf="!meetingData?.displayIssues" -->
            <a [ngClass]="{ active: meetingData && meetingData.displayIssues }"
              >Issue</a
            >
          </li>
        </ul>
      </div>
      <div class="meeting-tab-content">
        <div
          class="tab-content"
          *ngIf="
            meetingData &&
            meetingData?.displayKPI &&
            !meetingData?.displayMilestones &&
            !meetingData?.displayIssues
          "
        >
          <div class="issue-content-wrapper">
            <app-kpi></app-kpi>
          </div>
        </div>
        <div
          class="tab-content"
          *ngIf="
            meetingData &&
            meetingData?.displayMilestones &&
            !meetingData?.displayIssues &&
            !meetingData?.displayKPI
          "
        >
          <div class="milestones-content-wrapper">
            <app-milestones
              [data]="
                meetingData.selectedUser?.filterMilestones
                  ? milestoneDataFiltered
                    ? milestoneDataFiltered
                    : []
                  : milestoneData
                  ? milestoneData
                  : []
              "
            ></app-milestones>
          </div>
        </div>
        <div
          class="tab-content"
          *ngIf="
            meetingData &&
            meetingData?.displayIssues &&
            !meetingData?.displayMilestones &&
            !meetingData?.displayKPI
          "
        >
          <div class="issue-content-wrapper">
            <app-issue
              [data]="{
                user: meetingData.selectedUser,
                meetingId: previewMeetingId
              }"
              [userData]="
                meetingData.selectedUser?.filterIssues
                  ? issueDataFiltered
                    ? issueDataFiltered
                    : []
                  : issueData
                  ? issueData
                  : []
              "
              [modify]="false"
            ></app-issue>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div
    class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 border-right-light"
  >
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 attendee-container"
      >
        <h2>
          Attendee List<i
            class="fas fa-angle-down"
            style="padding-left:5px;"
          ></i>
        </h2>

        <div>
          <ng-container *ngIf="meetingData">
            <div
              style="padding-left:10px;"
              *ngFor="let a of meetingData.meetingUsers; let i = index"
            >
              <a
                class="agenda-item"
                [ngStyle]="{
                  color: a.selected == true ? 'red' : '#73879C',
                  cursor:
                    meetingData?.displayIssues || meetingData?.displayMilestones
                      ? 'pointer'
                      : 'auto'
                }"
                (click)="setSelectedUser(a)"
                >{{ a.User.name }} {{ a.User.lname }}</a
              >
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2
          style="cursor:pointer;width:fit-content;"
          (click)="getIssueData(previewMeetingId)"
          *ngIf="!meetingData?.displayIssues"
        >
          Display Issues
        </h2>
        <h2
          style="cursor:pointer;width:fit-content;"
          (click)="getIssueData(previewMeetingId)"
          *ngIf="meetingData?.displayIssues"
        >
          Hide Issues<i
            class="fas fa-filter"
            [ngStyle]="{
              color: meetingData.selectedUser?.filterIssues
                ? '#ff6767'
                : '#4da6ff'
            }"
            style="cursor:pointer;padding-left:10px;font-size:14px;color:#4da6ff;"
            matTooltip="Filter to issues owned by {{
              meetingData.selectedUser.User.name
            }} {{ meetingData.selectedUser.User.lname }}"
            matTooltipClass="toolTip"
            aria-label="Button that displays a tooltip when focused or hovered over"
            *ngIf="meetingData?.selectedUser"
            (click)="
              $event.stopPropagation(); setFilter('issues'); getUserIssue()
            "
          ></i>
        </h2>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2
          style="cursor:pointer;width:fit-content;"
          (click)="getMilestoneData(previewMeetingId)"
          *ngIf="!meetingData?.displayMilestones"
        >
          Display Rocks
        </h2>
        <h2
          style="cursor:pointer;width:fit-content;"
          (click)="getMilestoneData(previewMeetingId)"
          *ngIf="meetingData?.displayMilestones"
        >
          Hide Rocks<i
            class="fas fa-filter"
            [ngStyle]="{
              color: meetingData.selectedUser?.filterMilestones
                ? '#ff6767'
                : '#4da6ff'
            }"
            style="cursor:pointer;padding-left:10px;font-size:14px;color:#4da6ff;"
            matTooltip="Filter to milestones owned by {{
              meetingData.selectedUser.User.name
            }} {{ meetingData.selectedUser.User.lname }}"
            matTooltipClass="toolTip"
            aria-label="Button that displays a tooltip when focused or hovered over"
            *ngIf="meetingData?.selectedUser"
            (click)="
              $event.stopPropagation();
              setFilter('milestones');
              getUserMilestone()
            "
          ></i>
        </h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 agenda-container"
      >
        <h2>
          Agenda<i class="fas fa-angle-down" style="padding-left:5px;"></i>
        </h2>
        <ng-container *ngIf="meetingData && meetingData.timerData">
          <div
            class="agenda"
            *ngFor="let t of meetingData.timerData; let i = index"
          >
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <a class="agenda-item">{{ t.name }} </a>
            </div>
            <div
              class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"
              style="text-align:right;"
            >
              <a class="agenda-item" *ngIf="t.duration >= 1"
                >{{ t.duration }}m</a
              >
              <a class="agenda-item" *ngIf="t.duration < 1"
                >{{ t.duration * 60 }}s</a
              >
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9"
    style="padding-left:30px;padding-right:30px;"
    *ngIf="
      meetingData &&
      meetingData?.displayIssues &&
      !meetingData?.displayMilestones
    "
  >
    <app-issue
      [data]="{ user: meetingData.selectedUser, meetingId: previewMeetingId }"
      [userData]="
        meetingData.selectedUser?.filterIssues
          ? issueDataFiltered
            ? issueDataFiltered
            : []
          : issueData
          ? issueData
          : []
      "
      [modify]="false"
    ></app-issue>
  </div>
  <div
    class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9"
    style="padding-left:30px;padding-right:30px;"
    *ngIf="
      meetingData &&
      meetingData?.displayMilestones &&
      !meetingData?.displayIssues
    "
  >
    <app-milestones
      [data]="
        meetingData.selectedUser?.filterMilestones
          ? milestoneDataFiltered
            ? milestoneDataFiltered
            : []
          : milestoneData
          ? milestoneData
          : []
      "
    ></app-milestones>
  </div>
</div> -->
