<div class="right_col ml230 right_col nsidebar-content" role="main">
  <div class="row">
    <div class="x_panel col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="x_title" *ngIf='!meetingIsLaunched'>
        <h2 style="color: #73879C !important;width:auto !important;">My Meetings<i [ngClass]='displayMeetingList ? "fas fa-angle-down" : "fas fa-angle-right"' style='padding-left:5px;cursor:pointer;' (click)='setMeetingListDisplay();'></i></h2>
        <a matTooltip="Create new meeting" matTooltipClass='toolTip' aria-label="Button that displays a tooltip when focused or hovered over"><i class='fas fa-plus' style='color: #73879C;padding-left:15px;padding-top:5px;cursor:pointer;' *ngIf='!meetingIsLaunched' (click)='showModal(meetingNew,"modal-md");resetTimer();'></i></a>
        <a matTooltip="Show completed meetings" matTooltipClass='toolTip' aria-label="Button that displays a tooltip when focused or hovered over"><i class='fas fa-archive' style='color: #73879C;padding-left:5px;padding-top:5px;cursor:pointer;' *ngIf='!meetingIsLaunched' (click)='goToMeetingArchive();'></i></a>
        <div class="clearfix"></div>
      </div>
      <div>
        <div class='col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3' *ngIf='displayMeetingList'>
          <mat-card class="base-card" style='min-height:75px;padding:0px;color: #73879C;' *ngFor='let m of userMeetingData; let i = index'>
            <mat-card-header>
              <mat-card-title class='meeting' style='font-size:15px !important;'>{{ m.meeting }}
                <a matTooltip="Edit meeting" matTooltipClass='toolTip' *ngIf='m.userRole.toLowerCase()=="host"' aria-label="Button that displays a tooltip when focused or hovered over"><i class='meeting-tools fas fa-edit' style='font-size:14px;padding-left:7px;cursor:pointer;' (click)='showModal(meetingEdit,"modal-md");editMeeting(m);' *ngIf='!meetingIsLaunched'></i></a>
                <a matTooltip="Delete meeting" matTooltipClass='toolTip' *ngIf='m.userRole.toLowerCase()=="host"' aria-label="Button that displays a tooltip when focused or hovered over"><i class='meeting-tools fas fa-times-circle' style='font-size:14px;padding-left:7px;cursor:pointer;color:red;' (click)='deleteMeeting(m);' *ngIf='!meetingIsLaunched'></i></a>
              </mat-card-title>
              <mat-card-subtitle style='font-size:12px;' *ngIf='m.meetingFrequency=="Weekly" && m.meetingInterval'>Recurring {{ m.meetingFrequency }} on {{ dayOfTheWeek[m.meetingInterval-1].dayOfWeek }}s at {{ m.meetingDate | date:'shortTime' }}</mat-card-subtitle>
              <mat-card-subtitle style='font-size:12px;' *ngIf='m.meetingFrequency=="Monthly" && m.meetingInterval'>Recurring {{ m.meetingFrequency }} on the {{ dayOfTheMonth[m.meetingInterval-1].display }} at {{ m.meetingDate | date:'shortTime' }}</mat-card-subtitle>
              <mat-card-subtitle style='font-size:12px;' *ngIf='m.meetingFrequency=="Not Recurring"'>Non Recurring meeting on {{ m.meetingDate | date: 'EEEE' }} {{ m.meetingDate | date: 'LLLL' }} {{ m.meetingDate | date: 'dd' }} at {{ m.meetingDate | date:'shortTime' }}</mat-card-subtitle>
              <mat-card-subtitle class='small-font start-meeting' (click)='launchMeeting(m);' *ngIf='!meetingIsLaunched && m.userRole=="Host"'>Launch Meeting</mat-card-subtitle>
              <mat-card-subtitle class='small-font preview-meeting' (click)='viewMeetingDetails(m);' *ngIf='!meetingIsLaunched'>Preview Meeting</mat-card-subtitle>
            </mat-card-header>
          </mat-card>  
        </div>
        <app-meeting-preview class='col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9' [previewMeetingId]='previewMeetingId' *ngIf='meetingIsPreview'></app-meeting-preview>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf='meetingIsLaunched && !meetingIsPreview'>
          <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
            <div class="meeting-title">
              <h2>{{ activeMeetingName }}</h2>
              <h4 *ngIf='!meetingInProgress'>Meeting Lobby</h4>
              <h4 *ngIf='meetingInProgress'>MEETING IN PROGRESS</h4>
              <p class='small-font start-meeting' (click)='startMeeting(activeMeeting);' *ngIf='!meetingInProgress'>Start meeting</p>
              <p class='small-font stop-meeting' (click)='stopMeeting(activeMeeting);' *ngIf='meetingInProgress && !conclusionFinished'>Stop meeting</p>
              <p class='small-font stop-meeting' *ngIf='!meetingInProgress && !conclusionFinished && !activeTimer && !activeMeetingNotes && !activeMeetingScoreNotes' (click)='exitMeeting(activeMeeting);'>Exit meeting</p>
              <p *ngIf='activeTimer || activeMeetingNotes || activeMeetingScoreNotes'><strong>Avoid navigating away from the meeting while in progress, and remember to <a style='color:#73879C;cursor:pointer;text-decoration: underline;' (click)='showMeetingConclusion();'>conclude</a> the meeting to exit.</strong></p>
            </div>
            <hr>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 border-right-light'>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf='activeTimer'>
              <!-- Active Agenda -->
              <div class="col-xs-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 border-bottom-light" *ngIf='activeTimer'>
                <h2 style='text-align:center;'>Active Agenda Item</h2>
                <div style='text-align:center;font-size:18px;'>
                  <a style='color:#73879C;'>{{ activeTimer.name }}</a>
                </div>
                <div style='text-align:center;font-size:18px;color:#73879C;'>
                  <a [ngClass]="{'time-remaining-danger' : activeTimer.status == 'danger', 'time-remaining-warning' : activeTimer.status == 'warning','time-remaining-info': activeTimer.status == 'info' }"
                  >{{ activeTimer.timeRemainingDisplay ? activeTimer.timeRemainingDisplay : activeTimer.display }}</a>  
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Attendees -->
              <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 attendee-container'>
                <h2 style='cursor:pointer;' (click)='showAttendeeList();'>Attendee List<i [ngClass]='displayAttendeeList ? "fas fa-angle-down" : "fas fa-angle-right"' style='padding-left:5px;'></i></h2>
                <div [ngClass]='displayAttendeeList ? "display-attendee-list" : "hide-attendee-list"' *ngIf='displayAttendeeList'>
                  <ng-container *ngIf='activeMeeting && activeMeeting.attendees'>
                    <div style='padding-left:10px;' *ngFor='let a of activeMeeting.attendees; let i = index'>
                      <i class='fas fa-check-circle' style='color:green;padding-right:3px;cursor:pointer;' (click)='assignAttendee(a,i,"present");' *ngIf='!a.attendeeStatus || a.attendeeStatus=="present"'></i>
                      <i class='fas fa-check-circle' style='color:lightgray;padding-right:3px;cursor:pointer;' (click)='assignAttendee(a,i,"present");' *ngIf='a.attendeeStatus && a.attendeeStatus!="present"'></i>
                      <i class='fas fa-times-circle' style='color:red;cursor:pointer;padding-right: 5px;' (click)='assignAttendee(a,i,"not present");' *ngIf='!a.attendeeStatus || a.attendeeStatus=="not present"'></i>
                      <i class='fas fa-times-circle' style='color:lightgray;cursor:pointer;padding-right: 5px;' (click)='assignAttendee(a,i,"not present");' *ngIf='a.attendeeStatus && a.attendeeStatus!="not present"'></i>
                      <a class='agenda-item' [ngStyle]='{color: a.selected == true && meetingInProgress ? "red" : "#73879C", cursor: activeMeeting?.milestones ? "pointer" : "auto"}' (click)='getMilestoneData(a);'>{{ a.User.name }} {{ a.User.lname }}</a>
                    </div>    
                  </ng-container>
                </div>
              </div>
              <!-- Issues -->
              <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingInProgress'>
                <h2 style='cursor:pointer;width:fit-content;' (click)='getIssueData(activeMeeting.meetingId);' *ngIf='!activeMeeting.displayIssues'>Display Issues</h2>
                <h2 style='cursor:pointer;width:fit-content;' (click)='getIssueData(activeMeeting.meetingId);' *ngIf='activeMeeting.displayIssues'>Hide Issues<i class='fas fa-filter' [ngStyle]='{color: activeMeeting.activeUser?.filterIssues ? "#ff6767" : "#4da6ff" }' style='cursor:pointer;padding-left:10px;font-size:14px;color:#4da6ff;' matTooltip="Filter to issues owned by {{ activeMeeting.activeUser?.User.name }} {{ activeMeeting.activeUser?.User.lname }}" matTooltipClass='toolTip' aria-label="Button that displays a tooltip when focused or hovered over" *ngIf='activeMeeting.activeUser?.User' (click)='$event.stopPropagation();getUserIssue();'></i></h2>
              </div>
            </div>
            <div class="row">
              <!-- Agenda -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 agenda-container">
                <h2>Agenda<i [ngClass]='displayAgenda ? "fas fa-angle-down" : "fas fa-angle-right"' style='padding-left:5px;cursor:pointer;' (click)='showAgenda();'></i></h2>
                <div class='agenda'*ngFor='let t of timers; let i = index'>
                  <div class='col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10' *ngIf='displayAgenda'>
                    <a class='agenda-item'><i class='fas fa-asterisk' style='font-size:10px' *ngIf='activeTimer && t.name==activeTimer.name'></i>{{ t.name }}
                      <i class='fas fa-play agenda-control' style='padding-left:10px;font-size:15px;color:green;' *ngIf='meetingInProgress' (click)='startAgendaItem(t,i);'></i>
                      <i class='fas fa-stop agenda-control' style='padding-left:5px;font-size:15px;color:red;' *ngIf='meetingInProgress' (click)='pauseAgendaItem();'></i>
                    </a>  
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style='text-align:right;' *ngIf='displayAgenda'>
                    <a class='agenda-item' *ngIf='t.duration>=1'>{{ t.duration }}m</a>
                    <a class='agenda-item' *ngIf='t.duration<1'>{{ t.duration*60 }}s</a>
                  </div>
                </div>
              </div>
              <!-- Meeting Notes -->
              <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingInProgress'>
                <h2>Meeting Notes<i [ngClass]='displayMeetingNotes ? "fas fa-angle-down" : "fas fa-angle-right"' style='padding-left:5px;cursor:pointer;' (click)='showMeetingNotes();'></i></h2>
                <div *ngIf='displayMeetingNotes'>
                  <angular-editor [(ngModel)]="activeMeetingNotes" [config]="config" name='nm_MeetingNotes' ngDefaultControl></angular-editor>
                </div>
              </div>  
              <!-- Conclude Meeting -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf='meetingInProgress'>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style='padding-left:0px;text-align:left;'>
                  <h2>Conclude Meeting<i [ngClass]='displayMeetingConclusion ? "fas fa-angle-down" : "fas fa-angle-right"' style='padding-left:5px;cursor:pointer;' (click)='toggleMeetingConclusion();'></i></h2>
                </div>
                <div style='text-align:center;' *ngIf='displayMeetingConclusion'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12'>
                      <input type='text' style='font-size:18px;width:50px;text-align:center;' name='mtgScoreScore' [(ngModel)]='activeMeetingScore' disabled>
                    </div>
                  <a class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' style='font-size:20px;color:#73879C;'><i class='fas fa-plus-circle' style='padding-right:10px;cursor:pointer;'(click)='incrementMeetingScore("up");'></i><i class='fas fa-minus-circle' style='cursor:pointer;' (click)='incrementMeetingScore("down");'></i></a>
                  <button class='btn btn-primary' (click)='concludeMeeting(activeMeeting);' *ngIf='meetingInProgress'>Conclude Meeting</button>
                    <angular-editor style='text-align:left;' [(ngModel)]="activeMeetingScoreNotes" [config]="config" name='nm_MtgScoreScoreNotes' ngDefaultControl></angular-editor>
                </div>
              </div>
            </div>
          </div>
          <!-- Milestone table -->
          <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9'>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf='meetingInProgress'>
              <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' style='padding-bottom:10px;' *ngIf='activeMeetingMilestoneData && activeMeetingDisplayMilestones && !activeMeeting.displayIssues'>
                <h2>Milestones</h2>
                <table mat-table  [dataSource]="activeMeetingMilestoneData" class="table" style='color:#73879C;'>
                  <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef='let element; let i = index'><a style='color: #007bff; cursor: pointer;' data-toggle="modal" data-target="#edit_milestone1" (click)="milestoneEdit(editMilestone,'modal-md',element)">{{ i + 1 }} <i style='color:#73879C;font-size:10px;' [ngClass]="element.recurringFrequency ? 'fas fa-sync' : ''"></i></a></td>
                  </ng-container>
                  <ng-container matColumnDef="Driver">
                    <th mat-header-cell *matHeaderCellDef>Driver</th>
                    <td mat-cell *matCellDef="let element"> {{element.Driver}} </td>
                  </ng-container>
                  <ng-container matColumnDef="KPI">
                    <th mat-header-cell *matHeaderCellDef>KPI</th>
                    <td mat-cell *matCellDef="let element"> {{element.KPI}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Milestone">
                    <th mat-header-cell *matHeaderCellDef>Milestone</th>
                    <td mat-cell *matCellDef="let element"> {{element.Milestone}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Due Date">
                    <th mat-header-cell *matHeaderCellDef>Due Date</th>
                    <td mat-cell *matCellDef="let element"> {{element['Due Date'] | date: 'MM/dd/yyyy' }} </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                  </ng-container>
                  <ng-container matColumnDef="User">
                    <th mat-header-cell *matHeaderCellDef>User</th>
                    <td mat-cell *matCellDef="let element"> {{element.User}} <a style='padding-left:10px !important;font-size:15px !important;cursor:pointer;'  matTooltip="{{ element.note }}" matTooltipClass='toolTip' aria-label="Button that displays a tooltip when focused or hovered over"><i style='padding-left:2px;color:#73879C;font-size:12px;' [ngClass]="element.note ? 'far fa-sticky-note' : ''"></i></a></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="milestoneColumns"></tr>
                  <tr mat-row *matRowDef="let element; columns: milestoneColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9' style='padding-left:30px;padding-right:30px;'>
            <app-issue *ngIf='meetingInProgress && activeMeeting.displayIssues' [data]='{"user":activeMeeting.activeUser,"meetingId":activeMeeting.meetingId}' [userData]='activeMeeting.activeUser?.filterIssues ? issueDataFiltered ? issueDataFiltered : [] : issueData ? issueData : []'></app-issue>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #meetingEdit>  
  <div class="modal-header">  
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
    <h4 class="modal-title" id="myModalLabel">
      <div class="col-md-12 col-sm-12 col-xs-12 text_center">
          <h2>Edit Meeting</h2>
      </div>
    </h4>
  </div>  
  <div class="modal-body" style='overflow:auto;'>
    <div class='padding-bottom'>
      <span class=''>Name</span>
      <input id='edit_MeetingName' type="text" class="form-control" placeholder="Executive Leadership Team" name='editMeetingName' [(ngModel)]='meetingEditMeetingName'> 
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Frequency</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingEditMeetingFrequency" name='editMeetingFrequency' (selectionChange)='clearMeetingInterval();'>
          <mat-option *ngFor="let f of frequency" [value]="f.value">{{ f.viewValue }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingEditMeetingFrequency=="Weekly"'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Day of the week</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingEditMeetingInterval" name='editMeetingDayOfWeek'>
          <mat-option *ngFor="let d of dayOfTheWeek" [value]="d.id">{{ d.dayOfWeek }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingEditMeetingFrequency=="Monthly"'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Day of the month</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingEditMeetingInterval" name='editMeetingDayOfMonth'>
          <mat-option *ngFor="let d of dayOfTheMonth" [value]="d.id">{{ d.dayOfTheMonth }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' [ngClass]="{ 'is-not-visible': meetingEditMeetingFrequency!='Monthly' && meetingEditMeetingFrequency!='Weekly' }">
      <div *ngIf='meetingEditMeetingFrequency!="Monthly" && meetingEditMeetingFrequency!="Weekly"'>
        <mat-form-field appearance='fill' style='width:100%;'>
          <mat-label>Day of the month</mat-label>
          <mat-select class='form-control' name='editMeetingDayOfMonth'>
          </mat-select>  
        </mat-form-field>  
      </div>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingEditMeetingFrequency=="Monthly" || meetingEditMeetingFrequency=="Weekly"'>
      <span class="">Time</span>
      <input class='form-control' [owlDateTimeTrigger]='dt4' [owlDateTime]='dt4' [(ngModel)]='meetingEditMeetingDate' id='edit_MeetingTime' name='editMeetingTime' [value]='meetingEditMeetingDate' >
      <owl-date-time hour12Timer='true' [pickerType]="'timer'" #dt4></owl-date-time>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingEditMeetingFrequency=="Not Recurring"'>
      <span class="">Time</span>
      <input class='form-control' [owlDateTimeTrigger]='dt' [owlDateTime]='dt' [(ngModel)]='meetingEditMeetingDate' id='edit_MeetingTime' name='editMeetingTime' [value]='meetingEditMeetingDate'>
      <owl-date-time hour12Timer='true' #dt></owl-date-time>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingEditMeetingFrequency=="Weekly" && meetingEditMeetingInterval && meetingEditMeetingDate'>Recurring {{ meetingEditMeetingFrequency }} on {{ dayOfTheWeek[meetingEditMeetingInterval-1].dayOfWeek }}s at {{ meetingEditMeetingDate | date:'shortTime' }}</div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingEditMeetingFrequency=="Monthly" && meetingEditMeetingInterval && meetingEditMeetingDate'>Recurring {{ meetingEditMeetingFrequency }} on the {{ dayOfTheMonth[meetingEditMeetingInterval-1].display }} at {{ meetingEditMeetingDate | date:'shortTime' }}</div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingEditMeetingFrequency=="Not Recurring" && meetingEditMeetingDate'>Non Recurring meeting on {{ meetingEditMeetingDate | date: 'EEEE' }} {{ meetingEditMeetingDate | date: 'LLLL' }} {{ meetingEditMeetingDate | date: 'dd' }} at {{ meetingEditMeetingDate | date:'shortTime' }}</div>
    <div class='padding-bottom'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Participants</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingEditMeetingAttendees" name='editMeetingAttendees' multiple>
          <mat-option [disabled]='u.uID==uID' *ngFor="let u of orgUserList" [value]="u.uID">{{ u.name }} {{ u.lname }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style='padding-left:0px;'>
      <p>Custom Agenda</p>
      <div class='row' [ngClass]="meetingEditCustomTimer?'isCustomTimer':'isNotCustomTimer'" style='border-style:solid;border-width:2px;height:30px;margin-left:0px !important;margin-top:5px;max-width:75px;cursor:pointer;' (click)='setMeetingEditCustomTimer(null);'>
        <div *ngIf='meetingEditCustomTimer' style='height:100%;'>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#337ab7'></div>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#337ab7;height:100%;'></div>  
        </div>
        <div *ngIf='!meetingEditCustomTimer' style='height:100%;'>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#666666;height:100%;'></div>  
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#666666;text-align:right;'></div>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-9 col-lg-9' *ngIf='meetingEditCustomTimer' id='timerDiv'>
      <a>Add Agenda Item<i class='fas fa-plus-circle' style='color:green;cursor:pointer;padding-left:5px;' (click)='addTimer("edit",{ name: "", duration:0, display: "0:00" });'></i></a>
      <br>
      <div class="row" *ngFor='let t of timerEditArr; let i = index'>
        <mat-form-field appearance = 'fill' class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6' style='font-size:12px;'>
          <mat-label style='font-size:15px !important;'>Agenda Item</mat-label>
          <input name='editTimerName' matInput placeholder='Name: Item A' style='border-bottom:black;border-bottom-width:1px;border-bottom-style: solid;' [(ngModel)]='timerEditArr[i].name'>
        </mat-form-field>
        <mat-form-field appearance = 'fill' class='col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5' style='font-size:12px;'>
          <mat-label style='font-size:15px !important;'>Duration (in minutes)</mat-label>
          <input name='editTimerDuration' matInput placeholder='Duration: 30' style='border-bottom:black;border-bottom-width:1px;border-bottom-style: solid;' [(ngModel)]='timerEditArr[i].duration' (change)='setTimerDisplay("edit",i);'>
        </mat-form-field>
        <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1' style='padding-top:18px;'><i class='fas fa-times-circle' style='color:red;cursor:pointer' (click)='removeTimer("edit",i);'></i></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="">
              <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)='updateMeetingData();'><b>Save</b></button>
          </div>
      </div>
    </div>  
  </div> 
</ng-template> 

<ng-template #meetingNew>  
  <div class="modal-header">  
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide();clearNewMeetingFields();">  
      <span aria-hidden="true">×</span>  
    </button>  
    <h4 class="modal-title" id="myModalLabel">
      <div class="col-md-12 col-sm-12 col-xs-12 text_center">New Meeting</div>
    </h4>
  </div>  
  <div class="modal-body" style='overflow:auto;'>
    <br>
    <div class='padding-bottom'>
      <span class=''>Name</span>
      <input id='new_MeetingName' type="text" class="form-control" placeholder="Executive Leadership Team" name='newMeetingName' [(ngModel)]='meetingNewMeetingName'> 
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Frequency</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingNewMeetingFrequency" name='newMeetingFrequency'>
          <mat-option *ngFor="let f of frequency" [value]="f.value">{{ f.viewValue }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingNewMeetingFrequency=="Weekly"'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Day of the week</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingNewMeetingInterval" name='newMeetingDayOfWeek'>
          <mat-option *ngFor="let d of dayOfTheWeek" [value]="d.id">{{ d.dayOfWeek }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingNewMeetingFrequency=="Monthly"'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Day of the month</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingNewMeetingInterval" name='newMeetingDayOfMonth'>
          <mat-option *ngFor="let d of dayOfTheMonth" [value]="d.id">{{ d.dayOfTheMonth }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' [ngClass]="{ 'is-not-visible': meetingNewMeetingFrequency!='Monthly' && meetingNewMeetingFrequency!='Weekly' }">
      <div *ngIf='meetingNewMeetingFrequency!="Monthly" && meetingNewMeetingFrequency!="Weekly"'>
        <mat-form-field appearance='fill' style='width:100%;'>
          <mat-label>Day of the month</mat-label>
          <mat-select class='form-control' name='newMeetingDayOfMonth'>
          </mat-select>  
        </mat-form-field>  
      </div>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingNewMeetingFrequency=="Monthly" || meetingNewMeetingFrequency=="Weekly"'>
      <span class="">Time</span>
      <input class='form-control' [owlDateTimeTrigger]='dt4' [owlDateTime]='dt4' [(ngModel)]='meetingNewMeetingDate' id='new_MeetingTime' name='newMeetingTime' [value]='meetingNewMeetingDate' >
      <owl-date-time hour12Timer='true' [pickerType]="'timer'" #dt4></owl-date-time>
    </div>
    <div class='padding-bottom col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4' *ngIf='meetingNewMeetingFrequency=="Not Recurring"'>
      <span class="">Time</span>
      <input class='form-control' [owlDateTimeTrigger]='dt' [owlDateTime]='dt' [(ngModel)]='meetingNewMeetingDate' id='new_MeetingTime' name='newMeetingTime' [value]='meetingNewMeetingDate'>
      <owl-date-time hour12Timer='true' #dt></owl-date-time>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingNewMeetingFrequency=="Weekly" && meetingNewMeetingInterval && meetingNewMeetingDate'>Recurring {{ meetingNewMeetingFrequency }} on {{ dayOfTheWeek[meetingNewMeetingInterval-1].dayOfWeek }}s at {{ meetingNewMeetingDate | date:'shortTime' }}</div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingNewMeetingFrequency=="Monthly" && meetingNewMeetingInterval && meetingNewMeetingDate'>Recurring {{ meetingNewMeetingFrequency }} on the {{ dayOfTheMonth[meetingNewMeetingInterval-1].display }} at {{ meetingNewMeetingDate | date:'shortTime' }}</div>
    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12' *ngIf='meetingNewMeetingFrequency=="Not Recurring" && meetingNewMeetingDate'>Non Recurring meeting on {{ meetingNewMeetingDate | date: 'EEEE' }} {{ meetingNewMeetingDate | date: 'LLLL' }} {{ meetingNewMeetingDate | date: 'dd' }} at {{ meetingNewMeetingDate | date:'shortTime' }}</div>
    <div class='padding-bottom'>
      <mat-form-field appearance='fill' style='width:100%;'>
        <mat-label>Participants</mat-label>
        <mat-select class='form-control' [(ngModel)]="meetingNewMeetingAttendees" name='NewMeetingAttendees' multiple>
          <mat-option [disabled]='u.uID==uID' *ngFor="let u of orgUserList" [value]="u.uID">{{ u.name }} {{ u.lname }}</mat-option>
        </mat-select>  
      </mat-form-field>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style='padding-left:0px;'>
      <p>Custom Agenda</p>
      <div class='row' [ngClass]="meetingNewCustomTimer?'isCustomTimer':'isNotCustomTimer'" style='border-style:solid;border-width:2px;height:30px;margin-left:0px !important;margin-top:5px;max-width:75px;cursor:pointer;' (click)='setMeetingNewCustomTimer();'>
        <div *ngIf='meetingNewCustomTimer' style='height:100%;'>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#337ab7'></div>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#337ab7;height:100%;'></div>  
        </div>
        <div *ngIf='!meetingNewCustomTimer' style='height:100%;'>
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#666666;height:100%;'></div>  
          <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#666666;text-align:right;'></div>
        </div>
      </div>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-9 col-xl-9' *ngIf='meetingNewCustomTimer' id='timerDiv'>
      <a>Add Agenda Item<i class='fas fa-plus-circle' style='color:green;cursor:pointer;padding-left:5px;' (click)='addTimer("new",{name:"",duration:0,display:""});'></i></a>
      <br>
      <div class="row" *ngFor='let t of timerNewArr; let i = index'>
        <mat-form-field appearance = 'fill' class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6' style='font-size:12px;'>
          <mat-label style='font-size:15px !important;'>Agenda Item</mat-label>
          <input name='newTimerName' matInput placeholder='Name: Item 1' style='border-bottom:black;border-bottom-width:1px;border-bottom-style: solid;' [(ngModel)]='timerNewArr[i].name'>
        </mat-form-field>
        <mat-form-field appearance = 'fill' class='col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5' style='font-size:12px;'>
          <mat-label style='font-size:15px !important;'>Duration (in minutes)</mat-label>
          <input type='number' name='newTimerDuration' matInput placeholder='Duration: 300' style='border-bottom:black;border-bottom-width:1px;border-bottom-style: solid;' [(ngModel)]='timerNewArr[i].duration' (change)='setTimerDisplay("new",i);'>
        </mat-form-field>
        <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1' style='padding-top:18px;'><i class='fas fa-times-circle' style='color:red;cursor:pointer' (click)='removeTimer("new",i);'></i></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="">
              <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)='createNewMeeting();'><b>Create new meeting</b></button>
          </div>
      </div>
    </div>
  </div>
</ng-template> 

<ng-template #editMilestone>  
  <div class="modal-header">  
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">  
      <span aria-hidden="true">×</span>  
    </button>  
    <h4 class="modal-title" id="myModalLabel">
      <div class="col-md-12 col-sm-12 col-xs-12 text_center">
          <!-- <img src="{{ driverImg }}"/> -->
      </div>
    </h4>
  </div>  
  <div class="modal-body">
    <br>
    <div class="container">
      <div class='row'>
        <div class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <span class=''>Milestone</span>
          <input name='kpiObjective' type="text" class="form-control" style='padding-bottom:10px;' placeholder="Example: Working out" name='milestone' [(ngModel)]='milestoneMilestoneEdit'>    
        </div>
        <div class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6'>
          <span class="">Due Date</span>
          <input name="qty" type='date' class="form-control" style='line-height:normal !important;padding-bottom:9px;' placeholder = 'mm-dd-yyyy' name='milestoneDueDate' [(ngModel)]='milestoneDueDateEdit' (change)='updateQuarterList()'>  
        </div>  
      </div>  
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field appearance='fill' style='width:100%;'>
            <mat-label>Status</mat-label>
            <mat-select class='form-control' [(ngModel)]="milestoneStatusEdit" name='milestoneStatus'>
              <mat-option *ngFor="let c of charp" [value]="c.value">{{ c.viewValue }}</mat-option>
            </mat-select>  
          </mat-form-field>              
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field appearance='fill' style='width:100%;'>
            <mat-label>Assigned</mat-label>
            <mat-select class='form-control' [(ngModel)]="milestoneAssignedUidEdit" name='milestoneAssigned' (selectionChange)='updateQuarterList()' disabled>
              <mat-option [value]="milestoneEditMilestone.uID">{{ milestoneEditMilestone.User }}</mat-option>
            </mat-select>  
          </mat-form-field>                  
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6" style='padding-left:1px !important;'>
          <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
            Recurring
            <div class='row' [ngClass]="milestoneRecurringEdit?'isRecurring':'isNotRecurring'" style='border-style:solid;border-width:2px;height:30px;margin-left:10px;margin-bottom:10px;margin-top:5px;max-width:75px;cursor:pointer;' (click)='setMilestoneRecurringEdit();'>
              <div *ngIf='milestoneRecurringEdit' style='height:100%;'>
                <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#337ab7'></div>
                <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#337ab7;height:100%;'></div>  
              </div>
              <div *ngIf='!milestoneRecurringEdit' style='height:100%;'>
                <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='background-color:#666666;height:100%;'></div>  
                <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-6' style='vertical-align:middle;padding-top:2px;color:#666666;text-align:right;'></div>
              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12" style='padding-right:0px !important;'>
            <div *ngIf='milestoneRecurringEdit'>
              <mat-form-field appearance='fill' style='width:100%;'>
                <mat-label>Frequency</mat-label>
                <mat-select class='form-control' [(ngModel)]="milestoneRecurringFrequencyEdit" name='milestoneRecurringFrequency'>
                  <mat-option *ngFor="let f of frequency" [value]="f.value">{{ f.viewValue }}</mat-option>
                </mat-select>  
              </mat-form-field>
            </div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            Comments
          <textarea name="milestoneEditNote" id="id_MilestoneEditNote" [(ngModel)]='milestoneNoteEdit'cols="30" rows="2" class='' style='width:100%;margin-top:5px;border-color:#d9d9d9 !important;'></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="">
            <button type="submit" data-dismiss="modal" class="btn btn-primary" *ngIf='!milestoneAssignedEdit || !milestoneDueDateEdit || !milestoneMilestoneEdit' disabled><b>Update</b></button>
            <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)='updateMilestoneData()' *ngIf='milestoneAssignedEdit && milestoneDueDateEdit && milestoneMilestoneEdit'><b>Update</b></button>
            <!-- <button type="submit" data-dismiss="modal" class="btn btn-danger" style='margin-left:0px !important;' (click)='modalRef.hide();showModal(deleteMilestoneTemplate,"modal-sm");'><b>Delete</b></button> -->
          </div>
      </div>
    </div>  
  </div> 
</ng-template>