<!-- bootstrap page tour -->
<!-- <div class="container theme-showcase">
    <p>
        <input type="button" class="btn btn-lg btn-primary" onclick="startTour()" value="Start Tour" />
    </p>
</div> -->
<!-- /bootstrap page tour -->

<!-- jquery page tour -->
<!-- <button id="start-tour" class="btn btn-primary">Start Tour</button>
<a href="#" data-tour-index="1" data-tour-title="Primary Button" data-tour-description="I need a longer description for what this thing does." class="btn btn-primary">Boomer!</a> -->
<!-- /bootstrap page tour -->

<div class="top_nav ml500">
  <div class="nav_menu">
      <nav>
          <div class="nav toggle">
              <!-- <a id="menu_toggle" (click)="toggleClicked($event)"><i class="fa fa-bars"></i></a> -->
              <a id="menu_toggle"><i class="fa fa-arrow-left"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <img src="assets/img.jpg" alt="" />John Doe
                      <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right dash_dropdown cdropdown">
                      <li>
                          <a href="login.html" data-tour-index="1" data-tour-title="Admin Dashboard" data-tour-description="Admin ? <i>Click Here.</i>"><i class="fa fa-home pull-right"></i> Admin</a>
                      </li>
                      <li>
                          <a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->
