<!-- <div class="row" *ngIf="milestonemanagers?.length > 0 && level !== 'L1'"> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="x_panel">
        <div class="x_title">
          <h2 style="color: #73879C !important;">Managers</h2>
          <ul class="nav navbar-right panel_toolbox ctoolbox">
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="nav-wrapper">
            <ul class="nav nav-tabs navtab">
              <li [ngClass]="i === currState ? 'current active' : 'current'" *ngFor="let item of milestonemanagers; let i = index" (click)="getKpiM(item, i)">
                <a data-toggle="tab" href="#tab{{ i }}">
                  <div class="text_center row">
                    <div class="center_flex">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <img class="img-circle img-responsive photo" src="{{ item.info ? 'https://api.catipult.ai/' + item.info.photo : 'assets/img.jpg' }}"/>
                      </div>
                    </div>
                    <div class="row">
                      <span class="count_top cf">{{ item.name + " " + item.lname }}</span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="tab{{ userCurrentIndexM }}" *ngIf="userCurrentIndexM === currStateM" class="tab-pane fade {{ userCurrentIndexM === currStateM ? 'in active' : '' }}">
              <div class="table-responsive">
                <table id="grey_datatable-responsive" class="table table-hover" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>KPI</th>
                      <th>Target</th>
                      <th>Unit</th>
                      <th>Actual</th>
                      <th>% of Target</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of userKpiDataM">
                      <td>{{ element.objective }}</td>
                      <td>{{ element.qty }}</td>
                      <td>{{ element.unit }} </td>
                      <td>{{ element.achieveQty }}</td>
                      <td>{{ (element.achieveQty / element.qty) * 100 | number: "1.2-2" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->