.forget-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    .unlinkUrl {
        text-decoration: unset;
    }
    .text-center {
        text-align: center;
        padding-bottom: 10px;
        color: #757575;
        margin-left: 27px;
    margin-right: 27px;
        img {
            width: 219px;
            height: 57px;
        }
    }
    .w-100 {
        width: 100%;
        padding-left: 30px;
    }
    .content {

        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            background: #fff;
            padding-top: 12%;
            width: -webkit-fill-available;
        }
    }
}
.forget-response {
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  background-image: url("/assets/images/forgetResponse.png");
  background-repeat: no-repeat;
  background-size: cover;
  .w-100 {
    width: 100%;

}
.matfill{
    margin-left: 10px
}
  .unlinkUrl {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: unset;
}

  .text-center {
    font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.36px;
  text-align: center;
  color: #ffffff;
    img {
        width: 219px;
        height: 57px;
    }
}
  .content {

      .app-name {
          margin-top: 0px;
          padding-bottom: 10px;
          font-size: 32px;
      }
      .login-form {
          padding-top: 12%;
          width: -webkit-fill-available;
      }
  }
}

.input-align {
    align-content: center;
}


.btn-login{
  width: -webkit-fill-available;
  margin: 10%;
    height: 54px;
    font-size: 18px;
    color: #fff;
    border: 2px solid;
    border-color: rgb(227, 230, 237);
    border-radius: 4px;
    background-color: rgb(42, 169, 224);
}

.linkUrl {
    text-decoration: unset;
    padding-left: 2px;
    color: peru !important;
}
