.example-card {
  max-width: 50vh;
}

.driver{
  background-image: url("/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}
